<div class="parent">
  <div class="main" *ngFor="let data of productSearch; let i = index">
    <h3 class="title shadow-sm rounded">
      <span (click)="showSearchOptions(i)"
        ><i
          [ngClass]="{
            'bi bi-caret-right-fill': productSearch[i]['show'] === false,
            'bi bi-caret-down-fill': productSearch[i]['show'] === true
          }"
        ></i></span
      >{{ data?.name }}
    </h3>

    <div *ngIf="productSearch[i]['show']" [formGroup]="form">
      <div
        class="container-fluid"
        *ngIf="productSearch[i]['name'] === 'Project Search'"
      >
        <div class="inputs">
          <div class="radio_buttons">
            <div style="width: 20%">
              <h5>Project Status</h5>
            </div>
            <div class="forms">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="session_store"
                  id="active1"
                />
                <label class="form-check-label fs-5 text" for="active">
                  Active
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="session_store"
                  id="expired2"
                />
                <label class="form-check-label fs-5 text" for="expired">
                  Expired
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="session_store"
                  id="all2"
                />
                <label class="form-check-label fs-5 text" for="all">
                  All
                </label>
              </div>
            </div>
          </div>
          <div class="text-fields">
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Issuer Name / Company Name</label
              >
              <input
                class="form-control"
                formControlName="company_name"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Cusip6</label
              >
              <input
                class="form-control"
                formControlName="cusip6"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Cusip/ISN</label
              >
              <input
                class="form-control"
                formcontrolName="cusip_isn"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Ticker Symbol</label
              >
              <input
                class="form-control"
                formcontrolName="ticker_symbol"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Project Name</label
              >
              <input
                class="form-control"
                formcontrolName="project_name"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Deal ID</label
              >
              <input
                class="form-control"
                formcontrolName="deal_id"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >LOB Type</label
              >
              <input
                class="form-control"
                formcontrolName="lob_type"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >MAR Flag</label
              >
              <input
                class="form-control"
                formcontrolName="mar_flg"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >RCL -Research Toggle</label
              >
              <input
                class="form-control"
                formcontrolName="rcl_research"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Deal Status</label
              >
              <input
                class="form-control"
                formcontrolName="deal_status"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Follow Up Date - Start</label
              >
              <input
                class="form-control"
                formcontrolName="follow_start"
                type="date"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Follow Up Date - End</label
              >
              <input
                class="form-control"
                formcontrolName="follow_end"
                type="date"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >List Type</label
              >
              <input
                class="form-control"
                formcontrolName="list_type"
                type="date"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Added By</label
              >
              <input
                class="form-control"
                formcontrolName="added_by"
                type="text"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Top Panel</label
              >
              <input
                class="form-control"
                formcontrolName="top_panel"
                type="text"
              />
            </div>

            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Effective Date</label
              >
              <input
                class="form-control"
                formcontrolName="effective_date"
                type="date"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >End Date</label
              >
              <input
                class="form-control"
                formcontrolName="end_date"
                type="date"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >On List Date</label
              >
              <input
                class="form-control"
                formcontrolName="on_list_date"
                type="date"
              />
            </div>
            <div>
              <label class="form-label col-form-label col-form-label-lg" for=""
                >Off List Date</label
              >
              <input
                class="form-control"
                formcontrolName="off_list_date"
                type="date"
              />
            </div>
          </div>
        </div>
        <div class="action">
          <button
            type="button"
            class="btn btn-lg btn-secondary"
            (click)="search(form)"
          >
            Search
          </button>
          <button
            type="button"
            class="btn btn-lg btn-secondary"
            (click)="reset()"
          >
            Reset
          </button>
          <button type="button" class="btn btn-lg btn-secondary">
            Export to Excel
          </button>
        </div>

        <div *ngIf="viewTable" class="showTable table-responsive shadow-sm">
          <igx-grid #grid1 id="grid1" [data]="searchResults" [autoGenerate]="true" [allowFiltering]="true"></igx-grid>
        
        </div>  
      </div>

      <div *ngIf="productSearch[i]['name'] === 'Product Details'">
        <h3>Product Details</h3>
      </div>
    </div>
  </div>
</div>
