/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';
body{
  margin: 0;
}

// @import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

/* autoprefixer grid: on */

// IGX table header properties
// $custom-theme: igx-grid-theme(
//     $header-background: #6c757d,
//     $header-text-color: white,
//     $header-border-width: 1px,
//     $header-border-style: solid,
//     $header-border-color: rgba(0, 0, 0, 0.08)
// );

// @include igx-core();
// // @include igx-typography($font-family: $material-typeface, $type-scale: $material-type-scale);
// @include igx-theme($default-palette);

//  // UGX table header
// @include igx-grid($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
