<div class="parent" *ngIf="queueResults.length > 1">
    <div class="mt-3">
      <div class="container-fluid">
        <div class=" table-responsive shadow-sm ">
          <h5 style="background-color: rgb(209, 202, 202);" class="pt-2"></h5>
          <app-mat-queue-table
          
            [matQueueTableData]="queueResults"
          ></app-mat-queue-table>

          <!-- <h5  style="background-color: rgb(209, 202, 202);" class="pt-2"></h5>
          <app-mat-search-table
           
            [materialTableData]="searchResults"
          ></app-mat-search-table>
        </div> -->
      </div>
    </div>
 
</div>
